## Step 1: Import Necessary Packages

In [7]:
import numpy as np
import pandas as pd
from sklearn.linear_model import Ridge, RidgeCV
from sklearn.model_selection import RepeatedKFold

## Step 2: Load the Data

In [2]:
#define URL where data is located
url = "https://raw.githubusercontent.com/Statology/Python-Guides/main/mtcars.csv"

data_full = pd.read_csv(url)

In [4]:
data_full.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [5]:
data = data_full[["mpg", "wt", "drat", "qsec", "hp"]]

In [6]:
data.head()

    mpg     wt  drat   qsec   hp
0  21.0  2.620  3.90  16.46  110
1  21.0  2.875  3.90  17.02  110
2  22.8  2.320  3.85  18.61   93
3  21.4  3.215  3.08  19.44  110
4  18.7  3.440  3.15  17.02  175

## Step 3: Fit the Ridge Regression Model

In [10]:
#define predictor and response variables
X = data.drop('hp', axis=1)
y = data['hp']